ui-quickshortcut {
	display: flex;
	flex-direction: column;
	color: var(--color_text);
	text-shadow: 0 0 6px var(--color_text_shadow);
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	gap: 0px 0px 0px 0px;
	grid-template-areas:
	"Title Title Title"
	"K7 K8 K9"
	"K4 K5 K6"
	"K1 K2 K3"
	"Other Other Other";
}

ui-quickshortcut[data-disabled="true"] {
	display: none;
}

ui-quickshortcut ui-key {
	text-align: center;
}

ui-quickshortcut ui-key[data-key]::before {
	content: "";
	display: inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
	background-position: 50% 50%;
}

ui-quickshortcut ui-key[data-text]::after {
	content: attr(data-text);
	font-size: 12px;
	display: block;
	padding: 0 2px;
}

ui-quickshortcut ui-key[data-key="K1"] {
	grid-area: K1;
}

ui-quickshortcut ui-key[data-key="K1"]::before {
	background-image: url('../../Assets/Keys/1.svg');
}

ui-quickshortcut ui-key[data-key="K2"] {
	grid-area: K2;
}

ui-quickshortcut ui-key[data-key="K2"]::before {
	background-image: url('../../Assets/Keys/2.svg');
}

ui-quickshortcut ui-key[data-key="K3"] {
	grid-area: K3;
}

ui-quickshortcut ui-key[data-key="K3"]::before {
	background-image: url('../../Assets/Keys/3.svg');
}

ui-quickshortcut ui-key[data-key="K4"] {
	grid-area: K4;
}

ui-quickshortcut ui-key[data-key="K4"]::before {
	background-image: url('../../Assets/Keys/4.svg');
}

ui-quickshortcut ui-key[data-key="K5"] {
	grid-area: K5;
}

ui-quickshortcut ui-key[data-key="K5"]::before {
	background-image: url('../../Assets/Keys/5.svg');
}

ui-quickshortcut ui-key[data-key="K6"] {
	grid-area: K6;
}

ui-quickshortcut ui-key[data-key="K6"]::before {
	background-image: url('../../Assets/Keys/6.svg');
}

ui-quickshortcut ui-key[data-key="K7"] {
	grid-area: K7;
}

ui-quickshortcut ui-key[data-key="K7"]::before {
	background-image: url('../../Assets/Keys/7.svg');
}

ui-quickshortcut ui-key[data-key="K8"] {
	grid-area: K8;
}

ui-quickshortcut ui-key[data-key="K8"]::before {
	background-image: url('../../Assets/Keys/8.svg');
}

ui-quickshortcut ui-key[data-key="K9"] {
	grid-area: K9;
}

ui-quickshortcut ui-key[data-key="K9"]::before {
	background-image: url('../../Assets/Keys/9.svg');
}

ui-quickshortcut ui-key[data-key="K0"] {
	grid-area: K0;
}

ui-quickshortcut ui-key[data-key="K0"]::before {
	background-image: url('../../Assets/Keys/0.svg');
}

ui-quickshortcut ui-help {
	grid-area: Other;
	flex: 1 0 auto;
	text-align: right;
    align-items: center;
	margin: 20px 0 0 0;
	font-size: 12px;
}

ui-quickshortcut ui-help ui-entry {
	flex: 1 0 auto;
	text-align: right;
    align-items: center;
}

ui-quickshortcut ui-help ui-entry::before {
	content: "";
	display: block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
	background-position: 50% 50%;
}

ui-quickshortcut ui-help ui-entry[data-key="88"]::before {
	background-image: url('../../Assets/Keys/F12.svg');
}

ui-quickshortcut ui-help ui-entry[data-key="16"]::before {
	background-image: url('../../Assets/Keys/Q.svg');
}

ui-quickshortcut ui-help ui-entry[data-key="14"]::before {
	background-image: url('../../Assets/Keys/BS.svg');
}

ui-quickshortcut ui-help ui-entry[data-key="210"]::before {
	background-image: url('../../Assets/Keys/INS.svg');
}

ui-quickshortcut ui-help ui-entry[data-key="88"]::before {
	background-image: url('../../Assets/Keys/F12.svg');
}