ui-text {
	color: var(--color_text);
	text-shadow: 0 0 6px var(--color_text_shadow);
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

ui-text[data-disabled="true"] {
	display: none;
}

ui-text[data-icon]::before {
	content: "";
	width: 40px;
	height: 40px;
	display: inline-block;
	background-size: 40px 40px;
	margin: 0 5px -15px 0px;
}

ui-view[data-activated="false"] ui-text {
	opacity: 1 !important;
}

ui-view[data-activated="true"] ui-text {
	opacity: 0.3 !important;
}

ui-box ui-text {
	flex: 1 0 auto;
	display: flex;
	margin: -10px -10px;
}

ui-box ui-text[data-icon]::before {
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
}