@keyframes Show {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes Hide {
	0% {
		opacity: 1;
		visibility: visible;
	}
	
	99 % {
		opacity: 0;
	}
	
	100% {
		visibility: hidden;
	}
}

ui-view[data-show="true"] {
	visibility: visible;
	animation: Show ease 300ms forwards;
	opacity: 1;
}

ui-view[data-show="false"] {
	visibility: hidden;
	animation: Hide ease 300ms forwards;
	opacity: 0;
}

ui-view[data-activated="true"] {
	opacity: 1;
}

ui-view[data-activated="false"] {
	opacity: 0.3;
}