i[data-name] {
    width: 26px;
    height: 26px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

i[data-name="list"] {
    background-image: url("../assets/list.svg");
}

i[data-name="start"] {
    background-image: url("../assets/start.svg");
}

i[data-name="stop"] {
    background-image: url("../assets/stop.svg");
}

i[data-name="reload"] {
    background-image: url("../assets/reload.svg");
}

i[data-name="save"] {
    background-image: url("../assets/save.svg");
}

i[data-name="spawn_bot_way"] {
    background-image: url("../assets/spawn_bot_way.svg");
}

i[data-name="trash"] {
    background-image: url("../assets/trash.svg");
}

i[data-name="clear"] {
    background-image: url("../assets/clear.svg");
}
