@import url("./Icons.css");
@import url("./Globals.css");
@import url("./Forms.css");
@import url("./View.css");
@import url("./Views/Dialog.css");
@import url("./Views/Toolbar.css");
@import url("./Views/Settings.css");
@import url("./Views/WaypointEditor/WaypointToolbar.css");
/* @import url("./Views/WaypointEditor/CommoRose.css"); */
@import url("./Views/WaypointEditor/Key.css");
@import url("./Views/WaypointEditor/Help.css");
