#GENERAL:checked ~ figure .GENERAL,
#DIFFICULTY:checked ~ figure .DIFFICULTY,
#SPAWN:checked ~ figure .SPAWN,
#SPAWNLIMITS:checked ~ figure .SPAWNLIMITS,
#WEAPONS:checked ~ figure .WEAPONS,
#BEHAVIOUR:checked ~ figure .BEHAVIOUR,
#VEHICLE:checked ~ figure .VEHICLE,
#TRACE:checked ~ figure .TRACE,
#ADVANCED:checked ~ figure .ADVANCED,
#EXPERT:checked ~ figure .EXPERT,
#OTHER:checked ~ figure .OTHER {
	display: block;
}

#GENERAL:checked ~ nav > ul > li label[for="GENERAL"],
#DIFFICULTY:checked ~ nav > ul > li label[for="DIFFICULTY"],
#SPAWN:checked ~ nav > ul > li label[for="SPAWN"],
#SPAWNLIMITS:checked ~ nav > ul > li label[for="SPAWNLIMITS"],
#WEAPONS:checked ~ nav > ul > li label[for="WEAPONS"],
#BEHAVIOUR:checked ~ nav > ul > li label[for="BEHAVIOUR"],
#VEHICLE:checked ~ nav > ul > li label[for="VEHICLE"],
#TRACE:checked ~ nav > ul > li label[for="TRACE"],
#ADVANCED:checked ~ nav > ul > li label[for="ADVANCED"],
#EXPERT:checked ~ nav > ul > li label[for="EXPERT"],
#OTHER:checked ~ nav > ul > li label[for="OTHER"] {
	color: var(--color_text_hover);
	text-shadow: 0 0 6px var(--color_text_hover_shadow);
	background: linear-gradient(180deg, var(--color_button_active_from) 0%, var(--color_button_active_to) 100%);
}