ui-help {
    display: block;
    position: fixed;
}

ui-help[data-name="interaction"] {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    color: var(--color_text);
    text-shadow: 0 0 6px var(--color_text_shadow);
    text-transform: uppercase;
}

ui-help[data-name="interaction"] ui-key {
    flex: 0 auto;
}

ui-help[data-name="interaction"] span {
    flex: 1 auto;
    align-self: center;
    text-align: right;
}

ui-help[data-name="numpad"] {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

ui-help[data-name="numpad"] p {
    color: var(--color_text);
    text-shadow: 0 0 6px var(--color_text_shadow);
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 12px;
}

ui-help[data-name="numpad"] [data-grid="Other"] {
    margin: 40px 0 0 0;
}

ui-help[data-name="numpad"] ui-entry {
    display: flex;
    flex-direction: column;
    color: var(--color_text);
    text-shadow: 0 0 6px var(--color_text_shadow);
    text-transform: uppercase;
    text-align: center;
}

ui-help[data-name="numpad"] ui-entry ui-key {
    flex: 1 auto;
    margin: 0 auto;
}

ui-help[data-name="numpad"] ui-entry span {
    flex: 1 auto;
    font-size: 12px;
}

ui-help[data-name="numpad"] ui-entry ui-entry {
    flex-direction: row;
}

ui-help[data-name="numpad"] ui-entry ui-entry ui-key {
    flex: 0 auto;
}

ui-help[data-name="numpad"] ui-entry ui-entry span {
    align-self: center;
    text-align: right;
}
