/* Globals */
@font-face {
	font-family:	'Purista';
	src:			url('Purista-Medium.ttf');
}

:root {
	--color_white:					#FFFFFF;
	--color_text:					#EAf7FF;
	--color_text_shadow:			#BCE4FF;
	--color_text_hover:				#000000;
	--color_text_hover_shadow:		#000000;
	--color_warning_from:			rgba(247,130, 16, 0.9);
	--color_warning_to:				rgba(247,130, 16, 0.4);
	--color_container_background:	rgba(0, 0, 0, 0.8);
	--color_button_default_from:	rgba(41, 57, 67, 0.9);
	--color_button_default_to:		rgba(41, 57, 67, 0.5);
	--color_button_hover_from:		rgba(84, 134, 168, 0.9);
	--color_button_hover_to:		rgba(84, 134, 168, 0.9);
	--color_button_active_from:		rgba(230, 235, 240, 0.98);
	--color_button_active_to:		rgba(190, 205, 215, 0.95);
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	font-family: Purista, sans-serif, arial;
	border-radius: 0;
	outline: none;
	border: none;
}

*:not([type="input"]) {
	user-select: none;
}

/* Forms */
input[type="text"],
input[type="password"] {
	background: var(--color_button_default_from);
	display: block;
	border: 1px solid var(--color_white);
	color: var(--color_white);
	margin: 0 auto;
	padding: 5px;
}

button {
	padding: 5px 15px;
	min-width: 100px;
	margin: 0 1px;
	border: 1px solid;
	color: var(--color_text);
	text-shadow: 0 0 6px var(--color_text_shadow);
	cursor: pointer;
	font-weight: 900;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(180deg, var(--color_button_default_from) 0%, var(--color_button_default_to) 100%);
}

button:hover {
	background: linear-gradient(180deg, var(--color_button_hover_from) 0%, var(--color_button_hover_to) 100%);
}

/* Views */
ui-view {
	display:	none;
	position:	relative;
}

ui-view[data-show="true"] {
	display: block;
}

/* View :: Password Protection */
ui-view[data-name="password_protection"] {
	position: absolute;
	bottom: 20px;
	left: 50%;
	color: rgba(255, 0, 0, 0.8);
	text-shadow: 0 0 1px rgba(255, 0, 0, 0.5);
	font-size: 20px;
	font-weight: 900;
	transform: translate(-50%, -50%);
}


/* View :: Dialog */
ui-view[data-type="dialog"] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

ui-view[data-type="dialog"] ui-header {
	display: block;
	position: relative;
	padding: 10px;
	background: var(--color_warning_from);
	text-transform: uppercase;
	background: linear-gradient(180deg, var(--color_warning_from) 0%, var(--color_warning_to) 100%);
}

ui-view[data-type="dialog"] ui-content {
	display: block;
	position: relative;
	background: rgba(0, 0, 0, 0.8);
	padding: 0 0 5px 0;
}

ui-view[data-type="dialog"] ui-content ui-error {
	color: rgba(255, 0, 0, 0.8);
	text-shadow: 0 0 6px rgba(200, 0, 0, 0.8);
	display: block;
	position: relative;
	text-align: center;
	padding: 5px;
	margin: -20px 0 5px 0;
}

ui-view[data-type="dialog"] ui-content ui-error:empty {
	display: none;
}

ui-view[data-type="dialog"] ui-content p {
	padding: 15px;
	color: var(--color_text);
	text-shadow: 0 0 6px var(--color_text_shadow);
}

ui-view[data-type="dialog"] ui-buttons {
	display: block;
	position: relative;
	background: var(--color_container_background);
	padding: 10px;
	text-align: center;
}

/* View :: Toolbar */
ui-view[data-type="toolbar"] {
	padding: 10px;
	flex-direction: row;
}

ui-view[data-type="toolbar"][data-show="true"] {
	display: flex;
}

/* View :: Toolbar :: Logo */
ui-view[data-type="toolbar"] ui-logo {
	flex: 0 auto;
	display: block;
	position: relative;
	color: var(--color_text);
	text-shadow: 0 0 6px var(--color_text_shadow);
	font-weight: 900;
	font-size: 24px;
}

ui-view[data-type="toolbar"] ui-logo sub {
	color: var(--color_white);
	font-weight: 400;
	font-size: 12px;
	display: inline-block;
	transform: translate(-22px, -20px);
}

/* View :: Toolbar :: Menu */
ui-view[data-type="toolbar"] ui-menu {
	flex: 1 auto;
}

ui-view[data-type="toolbar"] ui-menu ul {
	list-style: none;
}

ui-view[data-type="toolbar"] ui-menu ul.main {
	display: flex;
	justify-content: flex-end;
}

ui-view[data-type="toolbar"] ui-menu ul.main > li {
	flex: 0 auto;
}

ui-view[data-type="toolbar"] ui-menu ul.main > li > a {
	display: block;
	position: relative;
	padding: 5px 15px;
	min-width: 120px;
	margin: 0 1px;
	color: var(--color_text);
	text-shadow: 0 0 6px var(--color_text_shadow);
	cursor: pointer;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(180deg, var(--color_button_default_from) 0%, var(--color_button_default_to) 100%);
}

ui-view[data-type="toolbar"] ui-menu ul.main > li > a[data-key]::before {
	content: attr(data-key);
	color: var(--color_text);
	text-shadow: 0 0 1px var(--color_text_shadow);
	font-size: 10px;
	font-weight: 100;
	position: absolute;
	bottom: 2px;
	right: 2px;
}

ui-view[data-type="toolbar"] ui-menu ul.main > li:hover > a {
	background: linear-gradient(180deg, var(--color_button_hover_from) 0%, var(--color_button_hover_to) 100%);
}

ui-view[data-type="toolbar"] ui-menu ul.main > li:active > a {
	color: var(--color_text_hover);
	text-shadow: 0 0 6px var(--color_text_hover_shadow);
	background: linear-gradient(180deg, var(--color_button_active_from) 0%, var(--color_button_active_to) 100%);
}

ui-view[data-type="toolbar"] ui-menu ul.main > li > ul {
	display: none;
	margin: 0 0 0 1px;
	background: rgba(0, 0, 0, 0.8);
}

ui-view[data-type="toolbar"] ui-menu ul.main > li:hover > ul {
	display: block;
	position: absolute;
}

ui-view[data-type="toolbar"] ui-menu ul.main > li > ul > li > a {
	display: block;
	padding: 5px 15px;
	min-width: 100px;
	position: relative;
	color: var(--color_text);
	text-shadow: 0 0 6px var(--color_text_shadow);
}

ui-view[data-type="toolbar"] ui-menu ul.main > li > ul > li > a[data-key]::before {
	content: attr(data-key);
	color: var(--color_text);
	text-shadow: 0 0 1px var(--color_text_shadow);
	font-size: 10px;
	font-weight: 100;
	position: absolute;
	bottom: 2px;
	right: 2px;
}

ui-view[data-type="toolbar"] ui-menu ul.main > li:hover > ul > li:hover > a {
	cursor: pointer;
	background: linear-gradient(180deg, var(--color_button_hover_from) 0%, var(--color_button_hover_to) 100%);
}

ui-view[data-type="toolbar"] ui-menu ul.main li a input[type="number"] {
	background: rgba(255, 255, 255, 0.1);
	width: 30px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
}

/* View :: Settings */
ui-view[data-name="settings"] ui-content {
	/*background: rgba(0, 0, 0, 0.2);*/
	min-width: 700px;
}

ui-view[data-name="settings"] ui-content ui-description {
	padding: 5px 10px;
	color: var(--color_text);
	text-shadow: 0 0 6px var(--color_text_shadow);
	min-height: 31px;
	display: block;
}

ui-view[data-name="settings"] ui-tabs {}

/* View :: Settings :: Menu */
ui-view[data-name="settings"] ui-tabs nav {}

ui-view[data-name="settings"] ui-tabs nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

ui-view[data-name="settings"] ui-tabs nav ul li {
	flex: auto;
}

ui-view[data-name="settings"] ui-tabs nav ul li label {
	display: block;
	position: relative;
	padding: 5px 15px;
	min-width: 120px;
	margin: 0 1px;
	color: var(--color_text);
	text-shadow: 0 0 6px var(--color_text_shadow);
	cursor: pointer;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(180deg, var(--color_button_default_from) 0%, var(--color_button_default_to) 100%);
}

ui-view[data-name="settings"] ui-tabs nav ul li:first-child label {
	margin: 0 1px 0 0;
}

ui-view[data-name="settings"] ui-tabs nav ul li:last-child label {
	margin: 0 0 0 1px;
}

ui-view[data-name="settings"] ui-tabs nav ul li:hover label {
	background: linear-gradient(180deg, var(--color_button_hover_from) 0%, var(--color_button_hover_to) 100%);
}

/* View :: Settings :: Tab Content */
ui-view[data-name="settings"] ui-tabs figure { 
	display: block; 
	clear: both;
	padding: 5px 10px;
	display: block;
}

ui-view[data-name="settings"] ui-tabs > input,
ui-view[data-name="settings"] ui-tabs figure > ui-tab { display: none; }

ui-view[data-name="settings"] ui-tabs figure > ui-tab {
	padding: 20px;
}

#GLOBAL:checked ~ figure .GLOBAL,
#DIFFICULTY:checked ~ figure .DIFFICULTY,
#OTHER:checked ~ figure .OTHER {
	display: block;
}

#GLOBAL:checked ~ nav > ul > li label[for="GLOBAL"],
#DIFFICULTY:checked ~ nav > ul > li label[for="DIFFICULTY"],
#OTHER:checked ~ nav > ul > li label[for="OTHER"] {
	color: var(--color_text_hover);
	text-shadow: 0 0 6px var(--color_text_hover_shadow);
	background: linear-gradient(180deg, var(--color_button_active_from) 0%, var(--color_button_active_to) 100%);
}

/* View :: Settings :: Tab Content :: Entries */
ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry {
	display: flex;
	color: var(--color_text);
	text-shadow: 0 0 6px var(--color_text_shadow);
}

ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-name {
	flex: 1 auto;
	align-self: center;
}

ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-container {
	flex: 1 auto;
	display: flex;
	font-weight: 900;
	max-width: 200px;
}

ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-container ui-arrow {
	flex: 0 auto;
	cursor: pointer;
	font-size: 30px;
}

ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-container ui-arrow[data-direction="left"]:before {
	content: "❰";
}

ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-container ui-arrow[data-direction="right"]:after {
	content: "❱";
}

ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-container ui-text {
	flex: 1 auto;
	flex: 1 auto;
	text-align: center;
	vertical-align: middle;
	align-self: center;
	font-size: 16px;
}

ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-container ui-text input[type="text"],
ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-container ui-text input[type="password"],
ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-container input[type="number"] {
	border: none;
	width:100%;
	min-width: 1px;
	max-width: 100%;
	background: rgba(0, 0, 0, 0);
	text-align: center;
	color: var(--color_text);
	font-weight: 900;
	font-size: 16px;
	margin: 1px 0;
	text-shadow: 0 0 6px var(--color_text_shadow);
}

ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-container input[type="number"]::-webkit-outer-spin-button,
ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry ui-container input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry[data-type="Text"] ui-container ui-text input[type="text"],
ui-view[data-name="settings"] ui-tabs figure ui-tab ui-entry[data-type="Password"] ui-container ui-text input[type="password"] {
	border: 1px solid;
}