* {
	box-sizing: content-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	font-family: 'Purista';
	font-weight: 700;
	border-radius: 0;
	outline: none;
	border: none;
}

*:not([type="input"]) {
	user-select: none;
}

*::selection {
	background: rgba(255, 255, 255, 0);
}

input:disabled {
    background: transparent;
    user-select: none;
    border-color: transparent;
}

::-webkit-scrollbar {
 	display: none;
}

::-webkit-scrollbar, ::-webkit-scrollbar, ::-webkit-scrollbar {
 	display: inline;
 	width: 8px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
 	background-color: #8e8e8e;
	background-clip: padding-box;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
  	background-color: #bbbbbb;
}

::-webkit-scrollbar-track{
  	background-color: #f0f0f0;
}