* {
	box-sizing: content-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	font-family: 'Purista';
	font-weight: 700;
	border-radius: 0;
	outline: none;
	border: none;
}

*:not([type="input"]) {
	user-select: none;
}

*::selection {
	background: rgba(255, 255, 255, 0);
}

input:disabled {
    background: transparent;
    user-select: none;
    border-color: transparent;
}

button {
	display: inline-block;
	position: relative;
	padding: 5px 15px;
	min-width: 120px;
	margin: 0 1px;
	color: #EAf7FF;
	text-shadow: 0 0 6px #BCE4FF;
	cursor: pointer;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(180deg, rgba(41, 57, 67, 0.9) 0%, rgba(41, 57, 67, 0.5) 100%);
}

button:hover {
	background: linear-gradient(180deg, rgba(84, 134, 168, 0.9) 0%, rgba(84, 134, 168, 0.9) 100%);	
}

::-webkit-scrollbar {
 	display: none;
}

::-webkit-scrollbar, ::-webkit-scrollbar, ::-webkit-scrollbar {
 	display: inline;
 	width: 8px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
 	background-color: #8e8e8e;
	background-clip: padding-box;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
  	background-color: #bbbbbb;
}

::-webkit-scrollbar-track{
  	background-color: #f0f0f0;
}